# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# Node
node_modules/
coverage
dist
build
.cache
.eslintcache

# IDE
.vscode/
.idea/
*.swp

# PIDs / reports / temp
pids
*.pid
*.pid.lock
report.*.json
tmp/
temp/